# General
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.iml

# Secrets
.env
.env.local
*.env
.env.*.local

# Logs
*.log
*.pid

# Generated Artifacts
.m2/
*.class
**/target/
backend/*roomify-build*/
__pycache__/
*.pyc
roomify-hotel-management/
.venv/
/audit/
/migration/
